= render partial: "layouts/errors", locals: { object: @line }
= form_for(@line) do |form|
  %table
    %tbody
      - %w(kanji kana romaji slug).each do |field|
        %tr
          %td= form.label field, t(field)
          %td= form.text_field field, required: true
      %tr
        %td= form.label :color, t(:color)
        %td= form.text_field :color
      %tr
        %td=t :stations
        %td
          %table
            %thead
              %tr
                %th=t :order
                %th=t :station
            %tbody
              = form.fields_for :stops do |builder|
                = render "stops_fields", form: builder
  .actions
    = form.submit
