%h1
  = color_tag @line.color
  = ruby_tag @line.kanji, @line.kana
  = @line.romaji
- if admin?
  %p
    = link_to t(:new), new_line_path
    = link_to t(:edit), edit_line_path(@line)
    = link_to t(:destroy), @line, confirm: t(:confirm), method: :delete
#map_canvas
%h2=t :stations
- if admin?
  = link_to t(:new), new_station_path
%table
  %thead
    %tr
      - %w(order kanji kana romaji latitude longitude).each do |field|
        %th=t field
      %th{colspan: admin? ? 3 : 1}
  %tbody
    - @line.stops.each do |stop|
      %tr
        %td= stop.order
        - %w(kanji kana romaji latitude longitude).each do |field|
          %td= stop.station[field]
        %td= link_to t(:show), stop.station
        - if admin?
          %td= link_to t(:edit), edit_station_path(stop.station)
          %td= link_to t(:destroy), stop, confirm: t(:confirm), method: :delete
- content_for :script do
  :javascript
    $(function(){draw([
      #{@line.stops.map { |s| %Q{[#{s.station.latitude},#{s.station.longitude},"#{s.station.name}"]} }.join(",")}
    ],"#{@line.color}");});
