= render partial: "layouts/errors", locals: { object: @station }
= form_for(@station) do |form|
  %table
    %tbody
      - %w(kanji kana romaji slug).each do |field|
        %tr
          %td= form.label field
          %td= form.text_field field, required: true
      - %w(latitude longitude).each do |field|
        %tr
          %td= form.label field
          %td= form.text_field field
      %tr
        %td=t :lines
        %td
          %table
            %thead
              %tr
                %th=t :order
                %th=t :lines
            %tbody
              = form.fields_for :stops do |builder|
                = render "stops_fields", form: builder
  .actions
    = form.submit
