= form_tag search_stations_path, id: "search_form", method: :get do
  .search
    = hidden_field_tag :from_slug, nil, class: :slug
    = text_field_tag :from, nil, class: :query, placeholder: t(:from), autocomplete: :off, autofocus: true
    %ul.result
  %span.connector →
  .search
    = hidden_field_tag :to_slug, nil, class: :slug
    = text_field_tag :to,   nil, class: :query, placeholder: t(:to),   autocomplete: :off
    %ul.result
%table
  %tbody#final
