- headers ||= methods
- obj_controller = objects.first.class.name.pluralize.downcase.to_s
= link_to t(:new), controller: obj_controller, action: :new
%table
  %thead
    %tr
      - headers.each do |field|
        %th=t field unless field.nil?
      %th{colspan: 3}
  %tbody
    - objects.each do |object|
      %tr
        - methods.each do |method|
          - if method.is_a?(Symbol)
            %td= object[method]
          - else
            %td= method.call object
        %td= link_to t(:show), object
        %td= link_to t(:edit), controller: obj_controller, action: :edit, id: object
        %td= link_to t(:destroy), object, confirm: t(:confirm), method: :delete
