!!! 5
%html{lang: I18n.locale}
  %head
    %meta{charset: "utf-8"}
    %title Ekiken
    = stylesheet_link_tag "application"
    = csrf_meta_tags
  %body
    %h1=t :ekiken
    = render partial: "layouts/navigation"
    = render partial: "layouts/flash", locals: { flash: flash }
    = yield
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false"
    = javascript_include_tag "application"
    = yield :script
